<% layout('layouts/boilerplate') %>
<h1 class="text-center my-5">All Campgrounds</h1>
<div class="container">
    <% for(let campground of campgrounds) { %>
    <div class="card mb-4 shadow-sm">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="<%= campground.image %>" alt="<%= campground.title %>" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-primary fw-bold">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <p class="card-text">
                        <small class="text-muted"><i class="fas fa-map-marker-alt"></i> <%= campground.location %></small>
                    </p>
                    <a class="btn btn-outline-primary" href="/campgrounds/<%= campground.id %>">
                        <i class="fas fa-eye"></i> View Campground
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
